.App {
  text-align: center;
  background-color: #afd4c0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.home_listings {
  background-color: #e5f4ec;
}

.dash_heading > h2 {
  margin: 0px;
  padding: 10px 0px 10px 25px;
  display: flex;
  justify-content: left
}

.dash {
  background-color: #e5f4ec;
  width: 40%;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.dash_subheader_button {
  /* display: flex; */
  /* justify-content: right; */
  /* align-items: flex-end; */
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  background-color: #8AEA92;
  border: none;
  font-weight: bold;
}

.dash_subheader_button_cancel {
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  background-color: #fec2c2;
  border: none;
  font-weight: bold;
}


.dash_prop_heading {
  display: flex;
  justify-content: left;
  padding: 10px 0px 10px 25px
}

.header {
  background-color: #519872;
  font-size: 25px;
  padding: 20px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
}

.App-header {
  background-color: red;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
